<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .footer-section {
            width: 1200px;
            margin: 0 auto;

        }

        .footer {
            display: flex;
            justify-content: space-between;
            padding: 12px;
            background-color: aliceblue;
        }

        .right {
            display: flex;
            gap: 8px;
            align-items: center;
        }
    </style>
</head>

<body>
    <section class="footer-section">
        <div class="footer">
            <div class="left">
                <p>SalesFlow CRM © 2026</p>
            </div>
            <div class="right">
                <a href="#">Privacy</a>
                <a href="#">Terms</a>
                <a href="#">Support</a>
            </div>

        </div>
    </section>
</body>

</html>